@import "tailwindcss";

@theme {
  --color-orange-600: #ea580c;
  --font-sans: "JetBrains Sans", "Inter", "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: var(--font-sans);
}
